@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Padyakke+Expanded+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --main_color: #101014;
    --font_color: #e1e1e6;
    --second_color: #A9AABC;
    --font: 'Satisfy', cursive;
    --main_font: 'EB Garamond', serif;
    --font_size: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main_color);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e1e1e658;
    transition: all 0.3s ease-in-out 0.2s;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e1e1e66a;
    transition: all 0.3s ease-in-out 0.2s;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 8rem;
    width: 100%;
    background-color: #000000;
    z-index: 1;
}

.header_link {
    font-size: 3rem;
    color: var(--font_color);
    font-family: 'Satisfy', cursive;
    margin-right: 50rem;
    text-decoration: none;
}

.link {
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.link:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
}

/* Footer */
footer {
    background-color: #e1e1e658;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    color: var(--main-_color);
    font-size: var(--font_size);

}




/* Lists */


.lists {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.link {
    font-family: var(--font);
    list-style: none;
    text-decoration: none;
    color: var(--font_color);
    font-size: var(--font_size);
}

.btn_link {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #e1e1e6;
    border-radius: 15px;
    width: 7rem;
    font-family: var(--font);
    color: var(--font_color);
    font-size: var(--font_size);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #e1e1e660;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);

}

