@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Padyakke+Expanded+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --main_color: #101014;
    --background: #454655;
    --background_color: #e1e1e658;
    --font_color: #e1e1e6;
    --font: 'Satisfy', cursive;
    --main_font: 'EB Garamond', serif;
    --font_size: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main_color);
    overflow-y: scroll;
}

/* Page Transition */
.transition-out {
    -o-transition: opacity 1s;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.hero {
    -webkit-animation: transition 1s linear forwards;
    animation: transition 1s linear forwards;
}

header {
    -webkit-animation: transition 0.5s linear forwards;
    animation: transition 0.5s linear forwards;
}


/* Scrolling bar */

body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}


/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 8rem;
    width: 100%;
    background-color: #000000;
    z-index: 1;
}

.header_link {
    font-size: 3rem;
    color: var(--font_color);
    font-family: 'Satisfy', cursive;
    margin-right: 50rem;
    text-decoration: none;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}

.link {
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
}

/* Footer */
footer {
    background-color: #e1e1e658;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font_color);
    font-size: 2rem;
    font-family: var(--font);
}

footer a {
    cursor: pointer;
}

/* Lists */

.lists {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.link {
    font-family: var(--font);
    list-style: none;
    text-decoration: none;
    color: var(--font_color);
    font-size: var(--font_size);
}

.btn_link {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #e1e1e6;
    border-radius: 15px;
    width: 7rem;
    font-family: var(--font);
    color: var(--font_color);
    font-size: var(--font_size);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #e1e1e660;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);

}

/* Hero */
.hero {
    height: 100vh;
    width: 100%;
    color: var(--font_color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.pie_img {
    height: 40rem;
    width: auto;
    border: 1px dotted #e1e1e6;
    -o-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.scroll {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    -webkit-animation: MoveUpDown 1.5s linear infinite;
    animation: MoveUpDown 1.5s linear infinite;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}

.scroll_text {
    transform: translateY(1rem);
    font-size: 1.6rem;
    color: #e1e1e673;
}

.scroll_icon {
    width: 4rem;
}

/* recipe */
.container h1 {
    font-size: 3rem;
    font-family: var(--font);
}

.recipe {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.info,
.recipe_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info p,
.recipe_info p {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

}

.info img {
    height: 2rem;
    width: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Description Section */

.description {
    height: 80vh;
    width: 100%;
    background-color: var(--background_color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ingredients,
.instructions {
    color: #e1e1e6;
}

.instructions {
    width: 70rem;
}

.description h1 {
    font-family: var(--font);
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.description h2 {
    font-size: 2.2rem;
    margin-top: 1.5rem;
}

.description ol,
ul {
    margin-left: 3rem;
}

.description li {
    font-size: 1.3rem;
}

.description li:first-child {
    margin-top: 0.7rem;
}


/* KeyFrames */

@keyframes transition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;

    }

    50% {
        bottom: 2rem;

    }
}

@media screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    .container h1 {
        font-size: 2rem;
    }

    .pie_img {
        max-width: 25rem;
        margin-top: 2rem;
        height: auto;
    }

    .recipe {
        max-width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .info p,
    .recipe_info p {
        font-size: 1.6rem;
    }

    .description {
        height: fit-content;
        display: flex;

        flex-direction: column;
        width: 100%;
    }

    .ingredients {

        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .instructions {
        width: 80%;
        height: fit-content;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .ingredients h1,
    .ingredients h2,
    .ingredients ul,
    .ingredients ul li,
    .instructions h1,
    .instructions ol,
    .instructions ol li {
        max-width: fit-content;
    }

    footer {
        font-size: 1.6rem;
        height: 6rem;
    }
}