@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Padyakke+Expanded+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --main_color: #101014;
    --background: #454655;
    --background_color: #e1e1e658;
    --font_color: #e1e1e6;
    --font: 'Satisfy', cursive;
    --main_font: 'EB Garamond', serif;
    --font_size: 1.5rem;
    --login_font: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main_color);
    overflow-y: scroll;
}

/* Page Transition */
.transition-out {
    -o-transition: opacity 1s;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}

.hero {
    -webkit-animation: transition 1s linear forwards;
    animation: transition 1s linear forwards;
}

header {
    -webkit-animation: transition 0.5s linear forwards;
    animation: transition 0.5s linear forwards;
}

/* Scrolling bar */

body::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}


/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 8rem;
    width: 100%;
    background-color: #000000;
    z-index: 1;
}

.header_link {
    font-size: 3rem;
    color: var(--font_color);
    font-family: 'Satisfy', cursive;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}

.link {
    -o-transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-size: 2rem;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.link:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
}

/* Footer */
footer {
    background-color: #e1e1e658;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font_color);
    font-size: 2rem;
    font-family: var(--font);
}

footer a {
    cursor: pointer;
}

/* Lists */


.lists {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.link {
    font-family: var(--font);
    list-style: none;
    font-size: 2rem !important;
    text-decoration: none;
    color: var(--font_color);
    font-size: var(--font_size);
}

.btn_link {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #e1e1e6;
    border-radius: 15px;
    width: 7rem;
    font-family: var(--font);
    color: var(--font_color);
    font-size: var(--font_size);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #e1e1e660;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);

}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Form */
.register_form {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font_color);
    font-size: 1.7rem;
    gap: 1rem;
    font-family: var(--font);
    background-color: var(--background);
    -o-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}

.register_form label {

    text-align: start;
}

.register_form input {
    width: 28rem;
    height: 3rem;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 0;
    text-align: center;
}

.register_form p,
a {
    text-align: center;
    text-decoration: none;
    color: var(--font_color);
}

select {
    width: 28rem;
    height: 3rem;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.registration_btn {
    background-color: transparent !important;
    border: 1px solid #e1e1e6 !important;
    width: 10rem !important;
    color: var(--font_color);
    cursor: pointer;
    -o-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.registration_btn:hover {
    background-color: #e1e1e6af !important;
    color: #454655;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}